<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.com.sms">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name="test.com.sms.HomeActivity"
            android:configChanges="orientation|keyboard|uiMode|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.com.sms.SMSDetailsActivity"
            android:configChanges="orientation|keyboard|uiMode|screenSize"
            android:label="@string/title_activity_smsdetails"
            android:parentActivityName="test.com.sms.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="test.com.sms.HomeActivity" />
        </activity>
        <activity
            android:name="test.com.sms.SearchResultActivity"
            android:configChanges="orientation|keyboard|uiMode|screenSize"
            android:label="@string/title_activity_search_result"
            android:parentActivityName="test.com.sms.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="test.com.sms.HomeActivity" />
        </activity>
        <activity
            android:name="test.com.sms.NewMessage"
            android:configChanges="orientation|keyboard|uiMode|screenSize"
            android:label="@string/title_new_msg"
            android:parentActivityName="test.com.sms.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="test.com.sms.HomeActivity" />
        </activity>

        //Incoming SMS BroadcastReceiver
        <receiver android:name="test.com.sms.IncomingSMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCc8mrGj_INGzfY9m5Umg4NWWRdEVYguuE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>